<div class="container-fluid p-3 py-lg-3 p-lg-5 pt-0">
  <h6>Select items to pay for</h6>
  <ul class="list-group">
    <li class="list-group-item bg-corn d-flex justify-content-between align-items-center">
      <label class="form-check-label w-100 d-flex justify-content-between align-items-center" for="tipButton">
        <div>
          <input class="form-check-input me-2 item-toggle" type="checkbox" value="" id="tipButton" checked>
          Tip
        </div>
        <span class="badge bg-secondary rounded-pill">$ <span id="tipID"><%= contribution.equalTip() %></span></span>
      </label>
    </li>
    <li class="list-group-item bg-corn d-flex justify-content-between align-items-center">
      <label class="form-check-label w-100 d-flex justify-content-between align-items-center" for="taxButton">
        <div>
          <input class="form-check-input me-2 item-toggle" type="checkbox" value="" id="taxButton">
          Tax
        </div>
        <span class="badge bg-secondary rounded-pill">$ <span id="taxID"><%= contribution.equalTax() %></span></span>
      </label>
    </li>
    <% contribution.items.forEach(item => { %>
      <% if (item.paid) { %>
        <li class="list-group-item bg-corn d-flex justify-content-between align-items-center bg-light text-decoration-line-through text-muted">
          <%= item.name %> <span class="badge bg-secondary rounded-pill">$<%= item.price.toFixed(2) %></span>
        </li>
      <% } else { %>
        <li class="list-group-item bg-corn d-flex justify-content-between align-items-center">
          <label class="form-check-label w-100 d-flex justify-content-between align-items-center" for="<%= item._id %>">
            <div>
              <input class="form-check-input me-2 item-toggle" type="checkbox" value="" id="<%= item._id %>">
              <%= item.name %>
            </div>
            <span class="badge bg-secondary rounded-pill">$ <span id="item-<%= item._id %>"><%= item.price.toFixed(2) %></span></span>
          </label>
        </li>
      <% } %>
    <% }) %>
    </ul>
</div>