<!DOCTYPE html>
<html lang="en">
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

  <div class="container-fluid row m-0 p-3 py-lg-3 p-lg-5 pt-0">
    <div class="p-3 py-lg-3 p-lg-5 pt-0"><a class="btn btn-md btn-md-lg bg-white rounded-pill shadow-sm" href="/home"><span class="fa fa-chevron-left"></span> Home</a></div>
    <div class="col-sm-6 m-0 p-0">
      <%- include('chunks/cont.ejs') -%>
      <%- include('chunks/invite.ejs') -%>
      <%- include('chunks/group') -%>
    </div>
    <div class="col-sm-6 m-0 p-0">
      <%- include('chunks/items.ejs') -%>
    </div>
  </div>
	<%- include('chunks/foot') -%>

  <script>
    const selectedItems = [];

    document.querySelectorAll('.item-toggle').forEach(toggle => {
      toggle.addEventListener('change', function() {
        const itemID = this.getAttribute('id');
        if (this.checked) {
          let newAmount;
          if (itemID !== "taxButton" && itemID !== "tipButton") {
            selectedItems.push(itemID);
            newAmount = Number(document.querySelector(`span#item-${itemID}`).innerText);
          } else if (itemID === "taxButton") {
            newAmount = Number(document.querySelector(`span#taxID`).innerText);
          } else if (itemID === "tipButton") {
            newAmount = Number(document.querySelector(`span#tipID`).innerText);
          }
          newAmount += parseFloat(document.querySelector('input[name="payAmount"]').value);
          document.querySelector('input[name="payAmount"]').value = newAmount.toFixed(2);
        } else {
          let newAmount;
          if (itemID !== "taxButton" && itemID !== "tipButton") {
            const index = selectedItems.findIndex(i => i === itemID);
            if (index > -1) {
              selectedItems.splice(index, 1);
            }
            newAmount = Number(document.querySelector(`span#item-${itemID}`).innerText);
          } else if (itemID === "taxButton") {
            newAmount = Number(document.querySelector(`span#taxID`).innerText);
          } else if (itemID === "tipButton") {
            newAmount = Number(document.querySelector(`span#tipID`).innerText);
          }
          newAmount = parseFloat(document.querySelector('input[name="payAmount"]').value) - newAmount; 
          document.querySelector('input[name="payAmount"]').value = newAmount.toFixed(2);
        }
      });
    });
  </script>

  <% if (invite) { %>
    <script>
      document.getElementById('accept').addEventListener('click', function() {
        const id = '<%= contribution._id %>';
        fetch(`/contributions/${id}/accept`, { method: 'POST' })
          .then(response => {
            if (response.ok) {
              location.reload();
            } else {
              console.error('Failed to process payment');
            }
          })
          .catch(error => console.error('Error:', error));
      });
    </script>
  <% } else { %>
    <script>
      document.getElementById('pay').addEventListener('click', async (event) => {
        event.preventDefault();
        const id = '<%= contribution._id %>';
        const amount = parseFloat(document.querySelector('input[name="payAmount"]').value);
        if (!Number.isNaN(amount) && amount > 0) {
          fetch(`/contributions/${id}/pay`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ amount, items: selectedItems }) 
          })
          .then(response => {
            if (response.ok) {
              location.reload();
            } else {
              console.error('Failed to process payment');
            }
          })
          .catch(error => console.error('Error', error));
        } else {
          document.querySelector('input[name="payAmount"]').style.border = '2px solid red';
        }
      });  
    </script>
  <% } %>
  <script>
    document.getElementById('inviteUser').addEventListener('click', function() {
      const id = '<%= contribution._id %>';
      const email = document.querySelector('input[name="invite"]').value;
      fetch(`/contributions/${id}/invite`, {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email })
      })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            response.json().then(data => {
              document.querySelector('.toast-body').innerText = data.message;
              const toast = new bootstrap.Toast(document.getElementById('validEmailToast'));
              toast.show();
            })
          }
        })
        .catch(error => console.error('Error:', error));
    });

  </script>
<%- include('chunks/footer') -%>