<!DOCTYPE html>
<html>
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>
  <div class="px-5">
    <div class="px-4 py-2"><a class="btn" href="/home"><span class="fa fa-backward"></span> Home</a></div>
    <%- include('chunks/cont.ejs') -%>
    <%- include('chunks/group') -%>
  </div>

  <% if (invite) { %>
    <script>
      document.getElementById('accept').addEventListener('click', function() {
        const id = '<%= item._id %>';
        fetch(`/contributions/${id}/accept`, { method: 'POST' })
          .then(response => {
            if (response.ok) {
              location.reload();
            } else {
              console.error('Failed to process payment');
            }
          })
          .catch(error => console.error('Error:', error));
      });
    </script>
  <% } else { %>
    <script>
      document.getElementById('pay').addEventListener('click', async (event) => {
        event.preventDefault();
        const id = '<%= item._id %>';
        const amount = parseFloat(document.querySelector('input[name="payAmount"]').value);
        if (!Number.isNaN(amount)) {
          fetch(`/contributions/${id}/pay`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ amount }) 
          })
          .then(response => {
            if (response.ok) {
              location.reload();
            } else {
              console.error('Failed to process payment');
            }
          })
          .catch(error => console.error('Error', error));
        } else {
          document.querySelector('input[name="payAmount"]').style.border = '2px solid red';
        }
      });  
    </script>
  <% } %>
<%- include('chunks/footer') -%>