<!DOCTYPE html>
<html>
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

	<div class="container-fluid p-3 py-lg-3 p-lg-5 pt-0">
    <div class="p-3 py-lg-3 p-lg-5 pt-0"><a class="btn btn-md btn-md-lg bg-white rounded-pill shadow-sm" href="/contributions/<%= contribution.id %>"><span class="fa fa-chevron-left"></span> <%= contribution.name %></a></div>

    <div class="row justify-content-center p-3 py-lg-3 p-lg-5 pt-0">
      <div class="col-sm-8 col-lg-6  m-0 p-0">
        <div class="py-3 d-flex flex-row justify-content-between align-items-start align-items-lg-center">
          <h2 class=""><i class="fa fa-edit"></i>  <%= contribution.name %></h2>
          <div class="d-flex">
            <button class="btn <%= contribution.completed ? 'btn-success' : 'btn-outline-success' %>" id="completeItem">
              <span class="fa fa-check"></span> <%= contribution.completed ? 'Completed' : 'Complete' %>
            </button>
            <button class="btn btn-outline-danger" id="deleteItem" style="margin-left: 10px;">
              <span class="fa fa-trash"></span> Delete
            </button>
          </div>
        </div>
        <form id="editForm">
          <div class="input-group mb-3">
            <label class="input-group-text" id="name">Name</label>
            <input type="text" class="form-control" value="<%= contribution.name %>" aria-label="Name" aria-describedby="name" name="name" required>
          </div>

          <div class="input-group mb-3">
            <label class="input-group-text" id="description">Description</label>
            <textarea class="form-control" aria-label="Description" aria-describedby="description" name="description"><%= contribution.description %></textarea>
          </div>
    
          <div class="input-group mb-3">
            <label class="input-group-text" id="amount">Amount</label>
            <input type="number" min="0" step="any" class="form-control" value="<%= contribution.amount.toFixed(2) %>" aria-label="Amount" aria-describedby="amount" name="amount" required>
          </div>

          <div class="row">
            <div class="col-6 pe-1">
              <div class="input-group mb-3">
                <label class="input-group-text" id="tax">Tax</label>
                <input type="number" min="0" step="any" class="form-control" value="<%= contribution.tax %>" aria-label="Tax" aria-describedby="tax" name="tax">
                <input type="radio" class="btn-check" id="taxDollar" name="taxType" value="dollar" checked>
                <label class="btn btn-outline-secondary px-md-3" for="taxDollar">$</label>
                <input type="radio" class="btn-check" id="taxPercent" name="taxType" value="percent">
                <label class="btn btn-outline-secondary px-md-3" for="taxPercent">%</label>
              </div>
            </div>
            <div class="col-6 ps-1">
              <div class="input-group mb-3">
                <label class="input-group-text" id="tip">Tip</label>
                <input type="number" min="0" step="any" class="form-control" value="<%= contribution.tip %>" aria-label="Tip" aria-describedby="tip" name="tip">
                <input type="radio" class="btn-check" id="tipDollar" name="tipType" value="dollar" checked>
                <label class="btn btn-outline-secondary px-md-3" for="tipDollar">$</label>
                <input type="radio" class="btn-check" id="tipPercent" name="tipType" value="percent">
                <label class="btn btn-outline-secondary px-md-3" for="tipPercent">%</label>
              </div>
            </div>
          </div>
          <div class="pb-3 d-flex justify-content-end">
            <div class="me-3">
              <div class="input-group">
                <div class="input-group-text">
                  <input class="form-check-input mt-0" id="equal" type="checkbox" name="equal" aria-label="Equal Payments" <%= contribution.equal ? 'checked' : '' %>>
                </div>
                <label class="input-group-text" for="equal">Equal Payments</label>
              </div>
            </div>
            <button id="save" type="submit" class="btn btn-success">Save</button>
          </div>
        </form>
        <hr class="border border-1 opacity-75">
        <%- include('chunks/invite.ejs') -%>
      </div>
    </div>
  </div>
	<%- include('chunks/foot') -%>

  <script>
    const editForm = document.getElementById('editForm');
    editForm.addEventListener('submit', async (event) => {
      event.preventDefault();

      const contributionID = '<%= contribution._id %>';
      const url = `/contributions/${contributionID}`;

      const name = document.querySelector('input[name="name"]').value;
      const description = document.querySelector('textarea[name="description"]').value;
      const amount = parseFloat(document.querySelector('input[name="amount"]').value);
      const tax = parseFloat(document.querySelector('input[name="tax"]').value);
      const taxType = document.querySelector('input[name="taxType"]:checked').value;
      const tip = parseFloat(document.querySelector('input[name="tip"]').value);
      const tipType = document.querySelector('input[name="tipType"]:checked').value;
      const equal = document.querySelector('input[name="equal"]').checked;

      const data = {
        name,
        description,
        amount,
        tax,
        taxType,
        tip,
        tipType,
        equal
      };

      fetch(url, {
        method: 'PUT',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response => {
        if (!response.ok) {
          response.json().then(data => console.error(data));
        } else {
          window.location.href = `/contributions/${contributionID}`;
        }
      })
      .catch(error => {
        console.error('Error:', error);
      })
    });

    document.getElementById('completeItem').addEventListener('click', async (event) => {
      event.preventDefault();

      const contributionID = '<%= contribution._id %>';
      const url = `/contributions/${contributionID}/complete`;

      fetch(url, {
        method: 'PUT',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          completed: '<%= contribution.completed %>' === 'false'
        })
      })
      .then(response => {
        if (!response.ok) {
          response.json().then(data => console.error(data));
        } else {
          window.location.href = '/home';
        }
      })
      .catch(error => {
        console.error('Error:', error);
      })
    });

    document.getElementById('deleteItem').addEventListener('click', async () => {
      const itemID = '<%= contribution._id %>';
      const url = `/contributions/${itemID}`;

      try {
        const response = await fetch(url, {
          method: 'DELETE',
          headers: {
          'Content-Type': 'application/json'
          }
        });

        if (response.ok) {
          window.location.href = '/home';
        } else {
          response.json().then(data => console.error(data));
        }
      } catch (error) {
        console.error('Error:', error);
      }
    });

    const inviteForm = document.getElementById('inviteForm');
    inviteForm.addEventListener('submit', async (event) => {
      event.preventDefault();
      const id = '<%= contribution._id %>';
      const email = document.querySelector('input[name="invite"]').value;
      fetch(`/contributions/${id}/invite`, {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email })
      })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            response.json().then(data => {
              document.querySelector('.toast-body').innerText = data.message;
              const toast = new bootstrap.Toast(document.getElementById('validEmailToast'));
              toast.show();
            })
          }
        })
        .catch(error => console.error('Error:', error));
    });

  </script>
<%- include('chunks/footer') -%>