<!DOCTYPE html>
<html lang="en">
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

  <div class="container-fluid p-3 py-lg-3 p-lg-5 pt-0">
    <div class="d-flex justify-content-between align-items-end mb-3">
      <h1 class="m-0 text-start">Your Contributions</h1>
      <a href="/contributions/new" class="btn btn-dark btn-md btn-md-lg rounded-pill shadow-sm"><i class="fa fa-group"></i> Create Pool</a>
    </div>

		<div class="row p-3">
			<div id="filterContainer" class="col-12">
				<input  id="filterAll" class="btn-check" name="filterBy" autocomplete="off" type="radio" checked></button>
				<label for="filterAll" class="btn btn-outline-primary shadow-sm rounded-pill" >All</label>
				<input  id="filterCompleted" class="btn-check" name="filterBy" autocomplete="off" type="radio"></button>
				<label for="filterCompleted" class="btn btn-outline-success shadow-sm rounded-pill" >Completed</label>
				<input  id="filterInvited" class="btn-check" name="filterBy" autocomplete="off" type="radio"></button>
				<label for="filterInvited" class="btn btn-outline-warning shadow-sm rounded-pill" >Invited</label>
				<input  id="filterMy" class="btn-check" name="filterBy" autocomplete="off" type="radio"></button>
				<label for="filterMy" class="btn btn-outline-secondary shadow-sm rounded-pill" >My Pools</label>
			</div>
			<% if (contributions.length === 0) { %>
				<p class="p-5 lead h2 text-center">You do not have any contributions yet, create one, or recieve an invite from a friend</p>
			<% } %>
			<% contributions.forEach((contribution, index) => { %>
			<%
				const isInvitePending = contribution.invites.some(invitedUser => invitedUser._id.toString() === user._id.toString());
			%>
			<a href="/contributions/<%= contribution._id %>" class="contrib col-12 col-md-6 p-3 btn text-start m-0 rounded-5 border-0 border-none <%= isInvitePending ? 'invited' : contribution.completed ? 'completed' : 'ongoing' %> <%= contribution.owner.id === user.id ? 'owner' : '' %>">
			<% if (isInvitePending) { %>
				<div class="card p-0 rounded-5 border-warning shadow-sm h-100">
			<% } else { %>
				<div class="card p-0 rounded-5 <%= contribution.completed ? 'border-success': 'border-none' %> shadow-sm h-100">
			<% } %>
					<div class="row g-0 h-100">
						<div class="col-md-8 p-3 p-lg-4 d-flex flex-column">
							<div class="card-body pt-1 p-2 d-flex flex-column h-100">
								<h3 class="card-title fw-bold"><%= contribution.name %></h3>
								<% if (isInvitePending) { %>
									<small class="card-text"><img class="rounded-circle" width="20" height="20" src="<%= contribution.owner.imgURL %>" alt=""> <%= contribution.owner.firstName %> invited you</small>
								<% } %>
									<div class="p-1">
									<% contribution.contributors.forEach(payment => { %>
									 <img class="rounded-circle" width="20" height="20" src="<%= payment.user.imgURL %>" alt="">
									<% }) %>
									</div>
								<p class="card-text fw-bold mt-auto <%= contribution.completed ? 'text-success' : '' %>">$<%= (contribution.total - contribution.remainder).toFixed(2) %> / $<%= contribution.total.toFixed(2) %></p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="img-fluid rounded-bottom-5 rounded-md-bottom-0 rounded-md-end-5" style="background-image: url('/img/<%= index % 3 %>.png'); background-size: cover; background-position: center; height: 200px; width: 100%;" alt="<%= contribution.name %>"></div>
						</div>
					</div>
				</div>
			</a>
			<% }) %>
		</div>
  </div>
	<%- include('chunks/foot') -%>
	<script>
		document.querySelectorAll('input[name="filterBy"]').forEach(radio => {
			radio.addEventListener('change', (event) => {
				const allContribs = document.querySelectorAll('a.contrib');
				allContribs.forEach(contrib => contrib.style.display = 'none');

				if (radio.id === 'filterAll') {
					allContribs.forEach(contrib => contrib.style.display = 'block');
				} else if (radio.id === 'filterCompleted') {
					allContribs.forEach(contrib => {
						if (contrib.classList.contains('completed')) {
							contrib.style.display = 'block';
						}
					});
				} else if (radio.id === 'filterInvited') {
					allContribs.forEach(contrib => {
						if (contrib.classList.contains('invited')) {
							contrib.style.display = 'block';
						}
					});
				} else if (radio.id === 'filterMy') {
					allContribs.forEach(contrib => {
						if (contrib.classList.contains('owner')) {
							contrib.style.display = 'block';
						}
					});
				}
			});
		});
	</script>
<%- include('chunks/footer') -%>