<!DOCTYPE html>
<html>
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

  <div class="container-fluid p-5 pt-0">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1>Your Contributions</h1>
      <a href="/contributions/new" class="btn btn-primary">Create new Pool</a>
    </div>

		<div class="row">
			<% contributions.forEach(contribution => { %>
			<div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-2">
				<div class="card mb-1 h-100">
					<!-- <img src="<%= contribution.imageURL %>" class="card-img-top" alt="<%= contribution.name %>"> -->
					<div class="card-body pt-1 p-2">
						<h5 class="card-title"><%= contribution.name %></h5>
						<p class="card-text">Total: $<%= contribution.total %></p>
						<p class="card-text">Type: <%= contribution.equal ? 'Custom Split' : 'Equal Split' %></p>
						<p class="card-text">Contributors: <%= contribution.contributors.length %></p>
						<% 
							const isInvitePending = contribution.invites.some(invite => invite.user._id.toString() === user._id.toString());
						%>
						<% if (isInvitePending) { %>
							<a href="/contributions/<%= contribution._id %>" class="btn btn-outline-warning">View invite</a>
						<% } else { %>
							<a href="/contributions/<%= contribution._id %>" class="btn btn-outline-secondary">View contribution</a>
						<% } %>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
  </div>
<%- include('chunks/footer') -%>