<!DOCTYPE html>
<html>
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

  <div class="container-fluid p-3 py-lg-3 p-lg-5 pt-0">
    <div class="d-flex justify-content-between align-items-end mb-3">
      <h1 class="m-0 text-start">Your Contributions</h1>
      <a href="/contributions/new" class="btn btn-outline-primary btn-md btn-md-lg rounded-pill shadow-sm"><i class="fa fa-group"></i> Create Pool</a>
    </div>

		<div class="row p-3">
			<% contributions.forEach((contribution, index) => { %>
			<%
				const isInvitePending = contribution.invites.some(invitedUser => invitedUser._id.toString() === user._id.toString());
			%>
			<a href="/contributions/<%= contribution._id %>" class="col-12 col-md-6 p-3 btn text-start m-0 rounded-5 border-0 border-none">
			<% if (isInvitePending) { %>
				<div class="card p-0 rounded-5 border-warning shadow-sm h-100">
			<% } else { %>
				<div class="card p-0 rounded-5 border-none shadow-sm h-100">
			<% } %>
					<div class="row g-0 h-100">
						<div class="col-md-8 p-3 p-lg-4 d-flex flex-column">
							<div class="card-body pt-1 p-2 d-flex flex-column h-100">
								<h3 class="card-title fw-bold"><%= contribution.name %></h3>
								<% if (isInvitePending) { %>
									<small class="card-text"><img class="rounded-circle" width="20" height="20" src="<%= contribution.owner.imgURL %>" alt=""> <%= contribution.owner.firstName %> invited you</small>
								<% } %>
									<div class="p-1">
									<% contribution.contributors.forEach(payment => { %>
									 <img class="rounded-circle" width="20" height="20" src="<%= payment.user.imgURL %>" alt="">
									<% }) %>
									</div>
								<p class="card-text fw-bold mt-auto <%= contribution.completed ? 'text-success' : '' %>">$<%= (contribution.total - contribution.remainder).toFixed(2) %> / $<%= contribution.total.toFixed(2) %></p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="img-fluid rounded-bottom-5 rounded-md-bottom-0 rounded-md-end-5" style="background-image: url('/img/<%= index % 3 %>.png'); background-size: cover; background-position: center; height: 200px; width: 100%;" alt="<%= contribution.name %>"></div>
						</div>
					</div>
				</div>
			</a>
			<% }) %>
		</div>
  </div>
<%- include('chunks/footer') -%>