<!DOCTYPE html>
<html>
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

  <div class="container-fluid p-5">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-lg-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach(el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %>
        <% } %>
        <% if (locals.messages.info) { %> 
          <% messages.info.forEach(el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
          <% }) %>
        <% } %>

        <form action="/login" method="POST">
          <div class="input-group mb-3">
            <label class="input-group-text" id="email">Email</label>
            <input type="email" class="form-control" placeholder="Enter your email" name="email" aria-label="Email" aria-describedby="email" required>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" id="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter your password" name="password" aria-label="Password" aria-describedby="password" required>
          </div>
          <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-sign-in"></i> Login</button>
        </form>

        <hr />

        <p>Need an account? <a href="/signup">Signup</a></p>
        <button class="sampleUser btn btn-md btn-warning" role="button">Test Credentials</button>
        <p>Or go <a href="/">home</a>.</p>
      </div>
    </div>
  </div>

<script>
  document.querySelector('.sampleUser').addEventListener('click', function() {
    document.querySelector('input[name="email"]').value = 'kakyoin28071971@gmail.com';
    document.querySelector('input[name="password"]').value = '12345678';
  });
</script>

<%- include('chunks/footer') -%>
