<!DOCTYPE html>
<html lang="en">
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

  <div class="container-fluid p-5">
    <div class="row justify-content-center">
      <div class="col-sm-8 col-lg-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Login</h1>
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach(el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %>
        <% } %>
        <% if (locals.messages.info) { %> 
          <% messages.info.forEach(el => { %>
            <div class="alert alert-info"><%= el.msg %></div>
          <% }) %>
        <% } %>

        <form action="/login" method="POST">
          <div class="input-group mb-3">
            <label class="input-group-text" id="email">Email</label>
            <input type="email" class="form-control" placeholder="Enter your email" name="email" aria-label="Email" aria-describedby="email" required>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" id="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter your password" name="password" aria-label="Password" aria-describedby="password" required>
          </div>
          <button type="submit" class="btn btn-jasper btn-md rounded-4 shadow-sm"><i class="fa fa-sign-in"></i> Login</button>
        </form>

        <hr />

        <p>Need an account? <a href="/signup">Signup</a></p>
        <button class="sampleUser btn btn-corn btn-md rounded-4 shadow-sm" role="button">Autofill Test Credentials</button>
        <p>Or go <a href="/">home</a>.</p>
      </div>
    </div>
  </div>
	<%- include('chunks/foot') -%>

<script>
  document.querySelector('.sampleUser').addEventListener('click', function() {
    const testUsers = ['jonathan@jojo.com', 'dio@jojo.com', 'lisa@jojo.com', 'zeppeli@jojo.com', 'joseph@jojo.com'];
    const randomUser = testUsers[Math.floor(Math.random() * testUsers.length)];
    document.querySelector('input[name="email"]').value = randomUser;
    document.querySelector('input[name="password"]').value = '12345678';
  });
</script>

<%- include('chunks/footer') -%>
