<!DOCTYPE html>
<html>
<%- include('chunks/head') -%>
<body>
  <%- include('chunks/navbar') -%>

	<div class="px-5">
    <div class="px-4 py-2"><a class="btn" href="/home"><span class="fa fa-backward"></span> Home</a></div>

    <%- include('chunks/cont.ejs') -%>

    <div class="p-5 py-3 text-center">
      <div class="input-group mb-3">
        <label class="input-group-text" id="invite">Email</label>
        <input type="text" class="form-control" value="hespy@gmail.com" aria-label="Email" aria-describedby="invite" name="invite" required>
        <button id="inviteUser" type="submit" class="btn btn-success">Invite</button>
      </div>
    </div>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
      <div id="validEmailToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <%- include('chunks/group.ejs') -%>
  </div>

  <script>
    document.getElementById('pay').addEventListener('click', async (event) => {
      event.preventDefault();
      const id = '<%= item._id %>';
      const amount = parseFloat(document.querySelector('input[name="payAmount"]').value);
      if (!Number.isNaN(amount)) {
        fetch(`/contributions/${id}/pay`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ amount }) 
        })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            console.error('Failed to process payment');
          }
        })
        .catch(error => console.error('Error:', error));
      }
    });

    document.getElementById('inviteUser').addEventListener('click', function() {
      const id = '<%= item._id %>';
      const email = document.querySelector('input[name="invite"]').value;
      fetch(`/contributions/${id}/invite`, {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email })
      })
        .then(response => {
          if (response.ok) {
            location.reload();
          } else {
            response.json().then(data => {
              document.querySelector('.toast-body').innerText = data.message;
              const toast = new bootstrap.Toast(document.getElementById('validEmailToast'));
              toast.show();
            })
          }
        })
        .catch(error => console.error('Error:', error));
    });

  </script>
<%- include('chunks/footer') -%>